body {
    font-family: Courier;
    background-color: rgb(174, 200, 224);
    text-align: center;
    color: black;
}
  
a {
    text-decoration: none;
    color: rgb(123, 105, 255);
    background-color: rgb(187, 187, 235);
    padding: 10px;
}
  
table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
  
td {
    padding: 5px;
    border: 1px solid;
}